//COMPCCOB  JOB ,'',CLASS=A,
//        REGION=0M,NOTIFY=&SYSUID
//*
//*********************************************************************
//*
//*   This procedure uses the Enterprise COBOL compiler and its
//*        integrated CICS translater to generate a COBOL module
//*        into a PDSE.
//*
//*********************************************************************
//*
//*  SET PARMS FOR THIS COMPILE:
//*  ---------------------------
//   EXPORT SYMLIST=(MEM)
//   SET MEM={{ pgmtocompile }}                 PROGRAM NAME
//*   SET COBOLLIB='COBOL.V4R2.SIGYCOMP'       COBOL COMPILER LOADLIB
//*   SET DTLIB='EQAW.SEQAMOD'                 DEBUG TOOL LOADLIB
//*   SET LELIB='CEE.SCEELKED'                 LE LINKEDIT LIBRARY
//*
//*  ****************************
//*        COMPILE STEP
//*  ****************************
//COBOL  EXEC PGM=IGYCRCTL,
//       PARM=('MAP,XREF(FULL),NOTEST,CICS')
//* LIST,NOOFFSET,XREF(SHORT),NOTEST
//STEPLIB  DD DISP=SHR,DSN=COBOL.V6R2.SIGYCOMP
//         DD DISP=SHR,DSN=CICSTS.V5R5.CICS.SDFHLOAD
//*        DD DSN=LNKLST.CICSTS.V5R3.CICS.SDFHLINK,DISP=SHR
//SYSLIB   DD DISP=SHR,DSN=CICSTS.V5R5.CICS.SDFHCOB
//         DD DISP=SHR,DSN=CICSTS.V5R5.CICS.SDFHMAC
//*        DD DSN=CICSTS.V5R2.CICS.SDFHSAMP,DISP=SHR
//*        DD DSN=SYS1.MACLIB,DISP=SHR
//*        DD DSN=CEE.SCEEMAC,DISP=SHR
//         DD DISP=SHR,DSN=AYMERIC.CICS.SOURCES
//SYSPRINT DD SYSOUT=*
//SYSIN    DD DISP=SHR,DSN=AYMERIC.CICS.SOURCES(&MEM)
//SYSLIN   DD DSN=&&LOADSET,DISP=(MOD,PASS),
//            UNIT=SYSDA,SPACE=(TRK,(3,3))
//SYSUT1   DD UNIT=SYSDA,SPACE=(CYL,(1,1))
//SYSUT2   DD UNIT=SYSDA,SPACE=(CYL,(1,1))
//SYSUT3   DD UNIT=SYSDA,SPACE=(CYL,(1,1))
//SYSUT4   DD UNIT=SYSDA,SPACE=(CYL,(1,1))
//SYSUT5   DD UNIT=SYSDA,SPACE=(CYL,(1,1))
//SYSUT6   DD UNIT=SYSDA,SPACE=(CYL,(1,1))
//SYSUT7   DD UNIT=SYSDA,SPACE=(CYL,(1,1))
//SYSUT8   DD UNIT=SYSDA,SPACE=(CYL,(1,1))
//SYSUT9   DD UNIT=SYSDA,SPACE=(CYL,(1,1))
//SYSUT10  DD UNIT=SYSDA,SPACE=(CYL,(1,1))
//SYSUT11  DD UNIT=SYSDA,SPACE=(CYL,(1,1))
//SYSUT12  DD UNIT=SYSDA,SPACE=(CYL,(1,1))
//SYSUT13  DD UNIT=SYSDA,SPACE=(CYL,(1,1))
//SYSMDECK DD UNIT=SYSDA,SPACE=(CYL,(1,1))
//*
//*  *********************************
//*        LINK-EDIT STEP
//*  *********************************
//LKED   EXEC PGM=IEWL,
//            PARM='LIST,XREF,RENT,MAP',COND=(7,LT,COBOL)
//SYSLIB   DD DISP=SHR,DSN=CICSTS.V5R5.CICS.SDFHLOAD
//         DD DISP=SHR,DSN=CEE.SCEELKED
//SYSLMOD  DD DISP=SHR,DSN=CICSUSR.POTCICS.CICSMOBP.LOADLIB
//SYSUT1   DD UNIT=SYSDA,DCB=BLKSIZE=1024,
//            SPACE=(1024,(200,20))
//SYSPRINT DD SYSOUT=*
//SYSLIN   DD DSN=&&LOADSET,DISP=(OLD,DELETE)
//         DD DDNAME=SYSIN
//SYSIN    DD *,SYMBOLS=EXECSYS
  INCLUDE SYSLIB(DFHELII)
  NAME &MEM.(R)
/*
//