//COMPCDB2  JOB MSGLEVEL=1,REGION=0M,NOTIFY=&SYSUID,CLASS=A,MSGCLASS=H
//*
//*********************************************************************
//*
//*   This procedure uses the Enterprise COBOL compiler and its
//*        integrated CICS translater to generate a COBOL module
//*        into a PDSE.
//*
//*********************************************************************
//*
//*  SET PARMS FOR THIS COMPILE:
//*  ---------------------------
//   EXPORT SYMLIST=(MEM,DB2)
//   SET MEM={{ program }}                       PROGRAM NAME
//   SET DSPREFIX='AYMERIC.CICS.SOURCES'         Sources pour les cpy
//   SET DB2PREF='DB2.V12'                       Db2 Lib prefix
//*   attention sur zt01 et les guest, pas pareil: DBC0CFG.DB2.V12
//   SET DB2=DBC1                                Db2 Subsystem Target
//   SET LNGPRFX='COBOL.V6R4'                    COBOL COMPILER LOADLIB
//*   SET COBOLLIB='COBOL.V4R2.SIGYCOMP'       COBOL COMPILER LOADLIB
//*   SET DTLIB='EQAW.SEQAMOD'                 DEBUG TOOL LOADLIB
//*   SET LELIB='CEE.SCEELKED'                 LE LINKEDIT LIBRARY
//*
//*  ********************************************************
//*        PRE COMPILE STEP     CREATION DES DBRM
//*  ********************************************************
//PRECOMP  EXEC PGM=DSNHPC,REGION=4M,PARM='HOST(IBMCOB),STDSQL(NO)'
//STEPLIB   DD DISP=SHR,DSN=&DB2PREF..SDSNEXIT
//          DD DISP=SHR,DSN=&DB2PREF..SDSNLOAD
//SYSCIN    DD DISP=(,PASS),UNIT=VIO,SPACE=(TRK,(5,5))
//SYSIN     DD DISP=SHR,DSN=&DSPREFIX.(&MEM)
//DBRMLIB   DD DISP=SHR,DSN=CICSCFG.GENAPP.CICSMOBP.DBRMLIB(&MEM)
//SYSLIB    DD DISP=SHR,DSN=DBC0CFG.SRCLIB.DATA
//          DD DISP=SHR,DSN=&DB2PREF..SDSNSAMP
//SYSPRINT  DD SYSOUT=*
//SYSTERM   DD SYSOUT=*
//SYSUDUMP  DD SYSOUT=*
//SYSUT1    DD UNIT=VIO,SPACE=(TRK,(5,5))
//SYSUT2    DD UNIT=VIO,SPACE=(TRK,(5,5))
//*  ********************************************************
//*        COMPILE STEP
//*  ********************************************************
//         IF RC <= 4 THEN
//COMPILE  EXEC PGM=IGYCRCTL,REGION=0M,     
//         PARM='LIST,MAP,SOURCE,XREF,CICS(''SP'')'
//*                                    PARM=(LIB,RENT) 'OPTFILE'
//*   PARM=('TEST(NOHOOK,SEPARATE,EJPD),LIST,MAP,XREF(SHORT),NONUMBER,SOURCE')
//STEPLIB  DD  DSNAME=&LNGPRFX..SIGYCOMP,DISP=SHR
//         DD  DSNAME=CEE.SCEELKED,DISP=SHR
//         DD DSN=CICSTS.V5R5.CICS.SDFHLOAD,DISP=SHR
//*         DD  DSNAME=CEE.SCEERUN,DISP=SHR
//*         DD  DSNAME=CEE.SCEERUN2,DISP=SHR
//SYSIN     DD DISP=(OLD,DELETE),DSN=*.PRECOMP.SYSCIN
//SYSLIB   DD DSN=CICSTS.V5R5.CICS.SDFHCOB,DISP=SHR
//         DD DSN=CICSTS.V5R5.CICS.SDFHMAC,DISP=SHR
//*        DD DSN=CICSTS.V5R2.CICS.SDFHSAMP,DISP=SHR
//*        DD DSN=SYS1.MACLIB,DISP=SHR
//*        DD DSN=CEE.SCEEMAC,DISP=SHR
//         DD DSN=&DSPREFIX.,DISP=SHR
//SYSPRINT DD  SYSOUT=*
//SYSLIN   DD  DSNAME=&&LOADSET,UNIT=SYSALLDA,
//             DISP=(MOD,PASS),SPACE=(CYL,(1,1))
//SYSUT1   DD  UNIT=SYSALLDA,SPACE=(CYL,(1,1))
//SYSUT2   DD  UNIT=SYSALLDA,SPACE=(CYL,(1,1))
//SYSUT3   DD  UNIT=SYSALLDA,SPACE=(CYL,(1,1))
//SYSUT4   DD  UNIT=SYSALLDA,SPACE=(CYL,(1,1))
//SYSUT5   DD  UNIT=SYSALLDA,SPACE=(CYL,(1,1))
//SYSUT6   DD  UNIT=SYSALLDA,SPACE=(CYL,(1,1))
//SYSUT7   DD  UNIT=SYSALLDA,SPACE=(CYL,(1,1))
//SYSUT8   DD  UNIT=SYSALLDA,SPACE=(CYL,(1,1))
//SYSUT9   DD  UNIT=SYSALLDA,SPACE=(CYL,(1,1))
//SYSUT10  DD  UNIT=SYSALLDA,SPACE=(CYL,(1,1))
//SYSUT11  DD  UNIT=SYSALLDA,SPACE=(CYL,(1,1))
//SYSUT12  DD  UNIT=SYSALLDA,SPACE=(CYL,(1,1))
//SYSUT13  DD  UNIT=SYSALLDA,SPACE=(CYL,(1,1))
//SYSUT14  DD  UNIT=SYSALLDA,SPACE=(CYL,(1,1))
//SYSUT15  DD  UNIT=SYSALLDA,SPACE=(CYL,(1,1))
//SYSMDECK DD  UNIT=SYSALLDA,SPACE=(CYL,(1,1))
//         ENDIF
//*  *********************************
//*        LINK-EDIT STEP
//*  *********************************
//LKED   EXEC PGM=IEWL,
//            PARM='LIST,XREF,RENT,MAP',COND=(7,LT,COMPILE)
//SYSLIB   DD DSN=CICSTS.V5R5.CICS.SDFHLOAD,DISP=SHR
//         DD DSN=CEE.SCEELKED,DISP=SHR
//         DD DSN=&DB2PREF..SDSNLOAD,DISP=SHR
//         DD DSN=DBC0CFG.RUNLIB.LOAD,DISP=SHR
//SYSLMOD  DD DSN=CICSUSR.POTCICS.CICSMOBP.LOADLIB,DISP=SHR
//SYSUT1   DD UNIT=SYSDA,DCB=BLKSIZE=1024,
//            SPACE=(1024,(200,20))
//SYSPRINT DD SYSOUT=*
//SYSLIN   DD DSN=&&LOADSET,DISP=(OLD,DELETE)
//         DD DDNAME=SYSIN
//SYSIN    DD *,SYMBOLS=EXECSYS
  INCLUDE SYSLIB(DFHELII)
  INCLUDE SYSLIB(DSNCLI)
  NAME &MEM.(R)
/*
//*  *************************************************************
//*        BIND Package dans Db2
//*  *************************************************************
//         IF RC <= 4 THEN
//BIND     EXEC PGM=IKJEFT01,DYNAMNBR=20
//DBRMLIB   DD DISP=SHR,DSN=CICSCFG.GENAPP.CICSMOBP.DBRMLIB
//SYSTSPRT  DD SYSOUT=*
//SYSPRINT  DD SYSOUT=*
//SYSIN     DD *,SYMBOLS=EXECSYS
  GRANT BIND, EXECUTE ON PLAN &MEM. TO PUBLIC;
  GRANT BIND, EXECUTE ON PACKAGE &MEM..* TO PUBLIC;
//SYSTSIN   DD *,SYMBOLS=EXECSYS
  DSN SYSTEM(&DB2.)
  BIND PACKAGE(&MEM.) MEMBER(&MEM.) -
    ISOLATION(UR) QUALIFIER(PHONEBOOK)
  BIND PLAN(&MEM.) PKLIST(&MEM..*)
  RUN PROGRAM(DSNTIAD) PLAN(DSNTIA12) -
    LIB('DBC0CFG.RUNLIB.LOAD')
/*
//         ENDIF
//
