//CMIMSBUF  JOB MSGLEVEL=1,REGION=0M,NOTIFY=&SYSUID,CLASS=A,MSGCLASS=H
//*     - - -  ADD A JOB CARD ABOVE THIS LINE  - - -
//*
//*  SAMPLE JCL TO PREPARE AN ENTERPRISE COBOL PROGRAM
//*  FOR THE IBM ZSERIES ADFz PRODUCTS:
//*     FAULT ANALYZER, DEBUG TOOL, AND APPLICATION PERF. ANALYZER
//*
//   EXPORT SYMLIST=(MEM,DB2)
//*  SET PARMS FOR THIS COMPILE:
//*  ---------------------------
//   SET MEM={{ pgmtocompile }}               PROGRAM NAME
//   SET COBOLLIB='COBOL.V6R3.SIGYCOMP'       COBOL COMPILER LOADLIB
//   SET LNGPRFX='COBOL.V6R3'                 COBOL COMPILER LOADLIB
//   SET LELIB='CEE.SCEELKED'                 LE LINKEDIT LIBRARY
//   SET DSPREFIX='AYMERIC.IMS'               DATASETs PREFIX
//   SET DB2PREF='DBC0CFG.DB2.V12'
//   SET DB2=DBC1
//   SET LIBPRFX='CEE'
//*  ********************************************************
//*        COMPILE STEP
//*  ********************************************************
//         IF RC <= 4 THEN
//COMPILE  EXEC PGM=IGYCRCTL,REGION=0M,PARM=(LIST,MAP,SOURCE,XREF)
//*                                    PARM=(LIB,RENT) 'OPTFILE'
//*   PARM=('TEST(NOHOOK,SEPARATE,EJPD),LIST,MAP,XREF(SHORT),NONUMBER,SOURCE')
//STEPLIB  DD DISP=SHR,DSN=&LNGPRFX..SIGYCOMP
//         DD DISP=SHR,DSNAME=CEE.SCEELKED
//*         DD  DSNAME=CEE.SCEERUN,DISP=SHR
//*         DD  DSNAME=CEE.SCEERUN2,DISP=SHR
//SYSIN    DD DISP=SHR,DSN=&DSPREFIX..SOURCES(&MEM)
//SYSLIB   DD DISP=SHR,DSN=&DSPREFIX..SOURCES
//SYSPRINT DD SYSOUT=*
//SYSLIN   DD DSN=&&LOADSET,UNIT=SYSALLDA,
//            DISP=(MOD,PASS),SPACE=(CYL,(1,1))
//SYSUT1   DD UNIT=SYSALLDA,SPACE=(CYL,(1,1))
//SYSUT2   DD UNIT=SYSALLDA,SPACE=(CYL,(1,1))
//SYSUT3   DD UNIT=SYSALLDA,SPACE=(CYL,(1,1))
//SYSUT4   DD UNIT=SYSALLDA,SPACE=(CYL,(1,1))
//SYSUT5   DD UNIT=SYSALLDA,SPACE=(CYL,(1,1))
//SYSUT6   DD UNIT=SYSALLDA,SPACE=(CYL,(1,1))
//SYSUT7   DD UNIT=SYSALLDA,SPACE=(CYL,(1,1))
//SYSUT8   DD UNIT=SYSALLDA,SPACE=(CYL,(1,1))
//SYSUT9   DD UNIT=SYSALLDA,SPACE=(CYL,(1,1))
//SYSUT10  DD UNIT=SYSALLDA,SPACE=(CYL,(1,1))
//SYSUT11  DD UNIT=SYSALLDA,SPACE=(CYL,(1,1))
//SYSUT12  DD UNIT=SYSALLDA,SPACE=(CYL,(1,1))
//SYSUT13  DD UNIT=SYSALLDA,SPACE=(CYL,(1,1))
//SYSUT14  DD UNIT=SYSALLDA,SPACE=(CYL,(1,1))
//SYSUT15  DD UNIT=SYSALLDA,SPACE=(CYL,(1,1))
//SYSMDECK DD UNIT=SYSALLDA,SPACE=(CYL,(1,1))
//         ENDIF
//*
//*CBLPRINT  EXEC PGM=IEBGENER,REGION=0M
//*SYSPRINT  DD SYSOUT=*
//*SYSUT1    DD DSN=&SYSUID..ADLAB.LISTING(&MEM),DISP=SHR
//*SYSUT2    DD SYSOUT=*
//*SYSIN     DD DUMMY
//*
//*  *************************************************************
//*        LINK-EDIT (BINDER) STEP
//*  *************************************************************
//         IF RC <= 4 THEN
//LKED EXEC PGM=IEWBLINK,REGION=0M,COND=(5,LT,COMPILE),PARM='LIST,XREF'
//SYSLIB   DD DISP=SHR,DSN=&LELIB
//RESLIB   DD DISP=SHR,DSN=IMSCFG.IMC1.SDFSRESL
//SYSLMOD  DD DISP=SHR,DSN=IMSCFG.IMSC.PGMLIB(&MEM)
//SYSLIN   DD DISP=(OLD,DELETE),DSN=&&LOADSET
//         DD DDNAME=SYSIN
//SYSPRINT DD SYSOUT=*
//SYSUT1   DD UNIT=SYSALLDA,SPACE=(CYL,(1,1))
//LKED.SYSIN  DD *,SYMBOLS=EXECSYS
  INCLUDE  RESLIB(CBLTDLI)
  ENTRY    DLITCBL
  NAME     &MEM(R)
/*
//         ENDIF
//*