//AYDBDGEN JOB ,'AYMERIC',
// CLASS=A,MSGLEVEL=(1,1),REGION=32M,NOTIFY=&SYSUID,
// MSGCLASS=T
//*
//  JCLLIB ORDER=IMSCFG.IMSC.PROCLIB
//* DBDGENS
//DBDGEN   EXEC PROC=DBDGEN,MBR={{ dbd }},SOUT='*',VER=V15R1
//L.SYSLMOD  DD DISP=SHR,DSN=IMSCFG.IMSC.DBDLIB(&MBR)
//C.SYSIN    DD DISP=SHR,DSN=IMSCFG.IMSC.DBD(&MBR)