//AYPSBGEN JOB ,'AYMERIC',
// CLASS=A,
// MSGCLASS=H,MSGLEVEL=(1,1),
// NOTIFY=&SYSUID,
// REGION=0M
//*
//PROCS JCLLIB ORDER=(IMSCFG.IMSC.PROCLIB)
//*
//PSBGEN  EXEC PROC=PSBGEN,MBR={{ psb }},SOUT='*'
//L.SYSLMOD  DD DISP=SHR,DSN=IMSCFG.IMSC.PSBLIB(&MBR)
//C.SYSIN    DD DISP=SHR,DSN=IMSCFG.IMSC.PSB(&MBR)