//GRANTDB2  JOB MSGLEVEL=1,REGION=0M,NOTIFY=&SYSUID,CLASS=A,MSGCLASS=H
//*
//   EXPORT SYMLIST=*
//*  SET PARMS FOR THIS COMPILE:
//*  ---------------------------
//   SET COLLE={{ collection }}               COLLECTION
//   SET DB2PREF={{ db2prefix }}              DB2 prefix
//*   SET DB2PREF='DBC0CFG'                   pour mainplex
//   SET SYS={{ sys }}                        DB2 sub system
//*   SET SYS=DBC1
//*
//*  *************************************************************
//*        GRANT Package dans Db2
//*  *************************************************************
//BIND     EXEC PGM=IKJEFT01,DYNAMNBR=20
//SYSTSPRT  DD SYSOUT=*
//SYSPRINT  DD SYSOUT=*
//SYSTSIN   DD *,SYMBOLS=EXECSYS
DSN SYSTEM(&SYS.)
RUN  PROGRAM(DSNTIAD) PLAN(DSNTIA12) -
      LIB('&DB2PREF..RUNLIB.LOAD')
/*
//SYSIN     DD *,SYMBOLS=EXECSYS
  GRANT ALL ON TABLE HACKATHON.CONTACTS TO PUBLIC;
/*
//
//* Tout ce qui est apres est en commentaire !!!
  GRANT DBADM ON DATABASE PBOOKDB TO PUBLIC;
  GRANT USE OF TABLESPACE PBOOKDB.HACKATS TO PUBLIC;
  GRANT ALL ON TABLE HACKATHON.CONTACTS TO PUBLIC;
  GRANT DELETE, INSERT, SELECT, UPDATE ON TABLE HACKATHON.CONTACTS
       TO PUBLIC;

  GRANT PACKADM ON COLLECTION CLAKATHON TO PUBLIC;
  GRANT CREATE IN COLLECTION CLAKATHON TO PUBLIC;
  GRANT CREATE IN COLLECTION CLENSISA TO PUBLIC;

  GRANT BINDADD TO ZTECU00 WITH GRANT OPTION;
  GRANT BINDADD TO ZTECU01 WITH GRANT OPTION;
  GRANT BINDADD TO ZTECU02 WITH GRANT OPTION;
  GRANT BINDADD TO ZTECU03 WITH GRANT OPTION;
  GRANT BINDADD TO ZTECU04 WITH GRANT OPTION;
  GRANT BINDADD TO ZTECU05 WITH GRANT OPTION;
  GRANT BINDADD TO ZTECU06 WITH GRANT OPTION;
  GRANT BINDADD TO ZTECU07 WITH GRANT OPTION;
  GRANT BINDADD TO ZTECU08 WITH GRANT OPTION;
  GRANT BINDADD TO ZTECU09 WITH GRANT OPTION;
  GRANT BINDADD TO ZTECU10 WITH GRANT OPTION;
  GRANT BINDADD TO ZTECU11 WITH GRANT OPTION;
  GRANT BINDADD TO ZTECU12 WITH GRANT OPTION;
  GRANT BINDADD TO ZTECU13 WITH GRANT OPTION;
  GRANT BINDADD TO ZTECU14 WITH GRANT OPTION;
  GRANT BINDADD TO ZTECU15 WITH GRANT OPTION;
  GRANT BINDADD TO ZTECU16 WITH GRANT OPTION;
  GRANT BINDADD TO ZTECU17 WITH GRANT OPTION;
  GRANT BINDADD TO ZTECU18 WITH GRANT OPTION;
  GRANT BINDADD TO ZTECU19 WITH GRANT OPTION;

  GRANT CREATE IN COLLECTION &COLLE. TO PUBLIC;
  GRANT BIND, EXECUTE ON PLAN &MEM. TO PUBLIC;

   GRANT BINDADD TO ENSIS00 WITH GRANT OPTION;
   GRANT BINDADD TO ENSIS01 WITH GRANT OPTION;
   GRANT BINDADD TO ENSIS02 WITH GRANT OPTION;
   GRANT BINDADD TO ENSIS03 WITH GRANT OPTION;
   GRANT BINDADD TO ENSIS04 WITH GRANT OPTION;
   GRANT BINDADD TO ENSIS05 WITH GRANT OPTION;
   GRANT BINDADD TO ENSIS06 WITH GRANT OPTION;
   GRANT BINDADD TO ENSIS07 WITH GRANT OPTION;
   GRANT BINDADD TO ENSIS08 WITH GRANT OPTION;
   GRANT BINDADD TO ENSIS09 WITH GRANT OPTION;
   GRANT BINDADD TO ENSIS10 WITH GRANT OPTION;
   GRANT BINDADD TO ENSIS11 WITH GRANT OPTION;
   GRANT BINDADD TO ENSIS12 WITH GRANT OPTION;
   GRANT BINDADD TO ENSIS13 WITH GRANT OPTION;
   GRANT BINDADD TO ENSIS14 WITH GRANT OPTION;
   GRANT BINDADD TO ENSIS15 WITH GRANT OPTION;
   GRANT BINDADD TO ENSIS16 WITH GRANT OPTION;
   GRANT BINDADD TO ENSIS17 WITH GRANT OPTION;
   GRANT BINDADD TO ENSIS18 WITH GRANT OPTION;
   GRANT BINDADD TO ENSIS19 WITH GRANT OPTION;
   GRANT BINDADD TO ENSIS20 WITH GRANT OPTION;
   GRANT BINDADD TO ENSIS21 WITH GRANT OPTION;
   GRANT BINDADD TO ENSIS22 WITH GRANT OPTION;
   GRANT BINDADD TO ENSIS23 WITH GRANT OPTION;
   GRANT BINDADD TO ENSIS24 WITH GRANT OPTION;
   GRANT BINDADD TO ENSIS25 WITH GRANT OPTION;
   GRANT BINDADD TO ENSIS26 WITH GRANT OPTION;
   GRANT BINDADD TO ENSIS27 WITH GRANT OPTION;
   GRANT BINDADD TO ENSIS28 WITH GRANT OPTION;
   GRANT BINDADD TO ENSIS29 WITH GRANT OPTION;
   GRANT BINDADD TO ENSIS30 WITH GRANT OPTION;
   GRANT BINDADD TO ENSIS31 WITH GRANT OPTION;
   GRANT BINDADD TO ENSIS32 WITH GRANT OPTION;
   GRANT BINDADD TO ENSIS33 WITH GRANT OPTION;
   GRANT BINDADD TO ENSIS34 WITH GRANT OPTION;
   GRANT BINDADD TO ENSIS35 WITH GRANT OPTION;
   GRANT BINDADD TO ENSIS36 WITH GRANT OPTION;
   GRANT BINDADD TO ENSIS37 WITH GRANT OPTION;
   GRANT BINDADD TO ENSIS38 WITH GRANT OPTION;
   GRANT BINDADD TO ENSIS39 WITH GRANT OPTION;

