//COPYDSMS  JOB 0,'Aymeric',NOTIFY=&SYSUID.,CLASS=W,MSGCLASS=H
//*
//SOURCES  EXEC  PGM=IEBCOPY
//SYSPRINT DD  SYSOUT=A
//SYSUT1  DD  DISP=SHR,DSNAME=ENSISA.EXAM.ENSIS00.SOURCES
//SYSUT2  DD  DISP=SHR,DSNAME=ENSISA.EXAM.{{ usertso}}.SOURCES
//SYSIN   DD *
    COPY  INDD=((SYSUT1,R)),OUTDD=SYSUT2
/*
//JCL  EXEC  PGM=IEBCOPY
//SYSPRINT DD  SYSOUT=A
//SYSUT1  DD  DISP=SHR,DSNAME=ENSISA.EXAM.ENSIS00.JCL
//SYSUT2  DD  DISP=SHR,DSNAME=ENSISA.EXAM.{{ usertso}}.JCL
//SYSIN   DD *
    COPY  INDD=((SYSUT1,R)),OUTDD=SYSUT2
/*
//
