//RACFCMD  JOB 0,'Aymeric',NOTIFY=&SYSUID.,CLASS=W,MSGCLASS=H
//*
//RACFSTEP   EXEC PGM=IKJEFT01
//SYSTSPRT  DD SYSOUT=*
//SYSPRINT  DD SYSOUT=*
//SYSTSIN   DD   *
RACDCERT GENCERT ID(MOPZSTC) ALTNAME(IP(10.3.20.1) DOMAIN('zt01')) -
 SUBJECTSDN(CN('zt01.mop.fr.ibm.com') OU('icc') O('ibm')  C('fr')) -
 SIGNWITH(CERTAUTH LABEL('ECC.CA.ZT01.LIBERTY')) -
 WITHLABEL('ECC2.CERT.ZT01.LIBERTY') NOTAFTER(DATE(2030-12-31)) - 
 SIZE(256) NISTECC KEYUSAGE(DOCSIGN HANDSHAKE KEYAGREE)
 
RACDCERT CONNECT(ID(MOPZSTC) LABEL('ECC2.CERT.ZT01.LIBERTY') -
 RING(Keyring.LIBERTY) USAGE(PERSONAL)) ID(MOPZSTC)

SETROPTS GENERIC(DIGTCERT, DIGTRING) REFRESH
/*
//
//* ---------------------------------------------
//* everything else is comment
//* ---------------------------------------------
    	PERMIT 'ENSISA.**' ID(ECENSISA) ACCESS(READ) CLASS(DATASET) GEN
        SETROPTS GENERIC(DATASET) REFRESH
PERMIT 'DB2GCFG.**' ID(IZPSTC) ACCESS(ALTER) CLASS(DATASET) GEN
ald ('ENSISA.**') uacc(read)
    CONNECT ZTECU02 GROUP(IMSUSR)
    CONNECT ZTECU03 GROUP(IMSUSR)
    CONNECT ZTECU04 GROUP(IMSUSR)
    CONNECT ZTECU05 GROUP(IMSUSR)
    CONNECT ZTECU06 GROUP(IMSUSR)
    CONNECT ZTECU07 GROUP(IMSUSR)
    CONNECT ZTECU08 GROUP(IMSUSR)
    CONNECT ZTECU09 GROUP(IMSUSR)
    CONNECT ZTECU10 GROUP(IMSUSR)
    CONNECT ZTECU11 GROUP(IMSUSR)
    CONNECT ZTECU12 GROUP(IMSUSR)

    CONNECT LALLEMA GROUP(IMSUSR)
    CONNECT PAUCOT  GROUP(IMSUSR)
    CONNECT PICARD  GROUP(IMSUSR)
    CONNECT SARTER  GROUP(IMSUSR)
    CONNECT PIGUET  GROUP(IMSUSR)
    CONNECT LENORMA GROUP(IMSUSR)
    CONNECT WERNER  GROUP(IMSUSR)
    CONNECT BROCHAR GROUP(IMSUSR)
    CONNECT SOLTANI GROUP(IMSUSR)
    CONNECT MATHIOT GROUP(IMSUSR)
/*
//
    CONNECT ZTECU01 GROUP(IZUUSER)
    CONNECT ZTECU02 GROUP(IZUUSER)
    CONNECT ZTECU03 GROUP(IZUUSER)
    CONNECT ZTECU04 GROUP(IZUUSER)
    CONNECT ZTECU05 GROUP(IZUUSER)
    CONNECT ZTECU06 GROUP(IZUUSER)
    CONNECT ZTECU07 GROUP(IZUUSER)
    CONNECT ZTECU08 GROUP(IZUUSER)
    CONNECT ZTECU09 GROUP(IZUUSER)
    CONNECT ZTECU10 GROUP(IZUUSER)
    CONNECT ZTECU11 GROUP(IZUUSER)
    CONNECT ZTECU12 GROUP(IZUUSER)

    CONNECT ZTECU01 GROUP(MOPZOSCG)
    CONNECT ZTECU02 GROUP(MOPZOSCG)
    CONNECT ZTECU03 GROUP(MOPZOSCG)
    CONNECT ZTECU04 GROUP(MOPZOSCG)
    CONNECT ZTECU05 GROUP(MOPZOSCG)
    CONNECT ZTECU06 GROUP(MOPZOSCG)
    CONNECT ZTECU07 GROUP(MOPZOSCG)
    CONNECT ZTECU08 GROUP(MOPZOSCG)
    CONNECT ZTECU09 GROUP(MOPZOSCG)
    CONNECT ZTECU10 GROUP(MOPZOSCG)
    CONNECT ZTECU11 GROUP(MOPZOSCG)
    CONNECT ZTECU12 GROUP(MOPZOSCG)

    CONNECT ZTECU01 GROUP(ZWEADMIN)
    CONNECT ZTECU02 GROUP(ZWEADMIN)
    CONNECT ZTECU03 GROUP(ZWEADMIN)
    CONNECT ZTECU04 GROUP(ZWEADMIN)
    CONNECT ZTECU05 GROUP(ZWEADMIN)
    CONNECT ZTECU06 GROUP(ZWEADMIN)
    CONNECT ZTECU07 GROUP(ZWEADMIN)
    CONNECT ZTECU08 GROUP(ZWEADMIN)
    CONNECT ZTECU09 GROUP(ZWEADMIN)
    CONNECT ZTECU10 GROUP(ZWEADMIN)
    CONNECT ZTECU11 GROUP(ZWEADMIN)
    CONNECT ZTECU12 GROUP(ZWEADMIN)

    CONNECT ZTECU01 GROUP(ECTELECO)
    CONNECT ZTECU02 GROUP(ECTELECO)
    CONNECT ZTECU03 GROUP(ECTELECO)
    CONNECT ZTECU04 GROUP(ECTELECO)
    CONNECT ZTECU05 GROUP(ECTELECO)
    CONNECT ZTECU06 GROUP(ECTELECO)
    CONNECT ZTECU07 GROUP(ECTELECO)
    CONNECT ZTECU08 GROUP(ECTELECO)
    CONNECT ZTECU09 GROUP(ECTELECO)
    CONNECT ZTECU10 GROUP(ECTELECO)
    CONNECT ZTECU11 GROUP(ECTELECO)
    CONNECT ZTECU12 GROUP(ECTELECO)

    ALU ZTECU01 PA(ztec1you) resume noexp
    ALU ZTECU02 PA(you2ztec) resume noexp
    ALU ZTECU03 PA(telecom3) resume noexp
    ALU ZTECU04 PA(nancy4ab) resume noexp
    ALU ZTECU05 PA(lorrain5) resume noexp
    ALU ZTECU06 PA(digital6) resume noexp
    ALU ZTECU07 PA(futur7ab) resume noexp
    ALU ZTECU08 PA(science8) resume noexp
    ALU ZTECU09 PA(etudian9) resume noexp
    ALU ZTECU10 PA(numeric0) resume noexp
    ALU ZTECU11 PA(formati1) resume noexp
    ALU ZTECU12 PA(recherc2) resume noexp
/*
//*
//
